<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<b>Clarence Toh</b>

<p>Current Occupation: Business Analyst, Desired Occupation: Data Analyst</p>

<i>I am interested in data science as it allows for data driven insights</i>

<h3>The code below multiplies val by 3</h3>

In [3]:
val = int(input("Enter your value: "))
val = val*3
print(val)

Enter your value:  300000

900000

<p>This is a Table</p>
<table>
<tr>
    <th>Col 1</th>
    <th>Col 2</th>
    <th>Col 3</th>
</tr>
<tr>
    <th>Row 1 Col 1</th>
    <th>Row 1 Col 2</th>
    <th>Row 1 Col 3</th>
</tr>
<tr>
    <th>Row 2 Col 1</th>
    <th>Row 2 Col 2</th>
    <th>Row 2 Col 3</th>
</tr>    
</table>



<href><p>Link: </p>www.google.com</href>

<p>This is a list</p>
<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ul>